// Fonts
$primary-font: KozGoPro-Light;
// Color
$base-color: #e23434;
$text-color: #ff00;
// Container and Grid Spacing
$container-width: 1260px;
$grid-space: 15px;
// path
$images-path: "../images" !default;
// icomoon
$icomoon-path: "../fonts/icomoon" !default;