@font-face {
    font-family: 'KozGoPro-Light';
    src: url('../fonts/kozgopro/KozGoPro-ExtraLight-AlphaNum.woff2') format('woff2'), url('../fonts/kozgopro/KozGoPro-ExtraLight-AlphaNum.woff') format('woff'), url('../fonts/kozgopro/KozGoPro-ExtraLight-AlphaNum.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}